Flask
Flask-SQLAlchemy
Flask-Migrate
Flask-JWT-Extended
Flask-SocketIO
Flask-Caching
psycopg2-binary
fastf1
pandas
werkzeug
flask-cors
flask-oauthlib
email-validator
flask-limiter
email_validator
MarkupSafe
alembic
SQLAlchemy
apscheduler
redis
gunicorn>=20.1.0
eventlet>=0.33.0
cloud-sql-python-connector
pg8000
